/* Mixins.scss */
@use 'sass:list';
@use 'sass:color';
@use 'sass:map';
@use '../_settings/' as settings;



$box-colors: map.get(settings.$colors, 'box-colors');
$box-font-colors: map.get(settings.$colors, 'box-font-colors');
$shadow-color: map.get(settings.$colors, 'shadow-color');


@mixin flex-container($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


@mixin fixed-padding-and-no-growth {
    flex: 0 0 auto;
    padding: 0 1rem;
}


@mixin font-no-underline($color) {
    color: $color;
    text-decoration: none;
}


@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-border($color: #333) {
    border-radius: 10px;
    border-right: $color;
    border-bottom: $color;
    box-shadow: 3px 3px 3px $shadow-color;
}


/** function to set link background-color and hover color */
@mixin link-styling($index, $lighten) {
    a {
        background-color: list.nth($box-colors, $index);
        color: list.nth($box-font-colors, $index);

        &:hover {
            background-color: color.scale(list.nth($box-colors, $index), $lightness: $lighten);
        }
    }
}
