@use 'fonts';

$a: #3C6975;
$b: #A06A37;
$c: #37a6a2;
$d: #2F98B5;
$e: #f99428;
$light-grey: #eee;
$medium-grey: #999;
$dark-grey: #333;
$almost-black: #111;


$colors: (
'bg': #fff,
'background-footer-color': $b,
'footer-border-color': $b,
'background-header-color': $a,
'background-code-color': $light-grey,
'font-color': $dark-grey,
'font-color-header': #fff,
'font-color-footer': #fff,
'label-color': $almost-black,
'main-link-color': $a,
'hover-color': $d,
'header-hover-color': $e,
'footer-hover-color': $b,
'hover-box': #fff,
'table-bg-color': transparent,
'table-header-color':  $e,
'table-alt-color':  $light-grey,
'table-border-color': $e,
'hr-color': $medium-grey,

box-colors: (
    $b,
    $a,
    $c,
    $e,
    $d
),
box-font-colors:  (

    #c5f3da,
    #b3cda0,
    #baf7fd,
    #4F351D,
    #b3d6b1,

),

'box-hover-lightness': 20%,
'box-hover-font-color': #fff

);

$fonts: (
'label-font': 'Titillium Web',
'paragraph-font': 'Inter',
'base-font-size': 1em,
'social-font-size': 1.5rem,
'code-font-size': 0.85rem,
'table-font-size': 0.9rem,
'base-line-height': 1.4,
'code-line-height': 1.9824
);

$borders: (
'border-dark-grey': 1px solid #333,
'border-light-grey': 1px solid #ccc,
'blockquote-border-left': 1px solid #ccc,
'code-border': 1px solid #ccc
);