@use 'fonts';

$a: #1E1E1E;
$b: #313730;
$c: #121617;
$d: #42341a;
$e: #17272B;
$f: #ca8606;

$almost-white: #d9d8d8;
$light-grey: #d3d0d0;
$medium-grey: #8e8a8a;
$dark-grey: #333;

$colors: (
'bg': #282a2b,
'background-footer-color': $a,
'footer-border-color': $a,
'background-header-color': $a,
'background-code-color': $dark-grey,
'font-color': $light-grey,
'font-color-header': $light-grey,
'font-color-footer': $light-grey,
'label-color': $almost-white,
'main-link-color': $light-grey,
'hover-color': $f,
'header-hover-color': $f,
'footer-hover-color': $f,
'hover-box': #fff,
'table-bg-color': $dark-grey,
'table-header-color': $e,
'table-alt-color':  $dark-grey,
'table-border-color': $e,
'hr-color': $b,

box-colors: (
    #312121,
    $b,
    $c,
    $d,
    $e
),
box-font-colors:  (
    #866b73,
    #a1af7a,
    #8c8c83,
    #a29378,
    #72818e
),

'box-hover-lightness': 5%,
'box-hover-font-color': #585757

);

$fonts: (
'label-font': 'Titillium Web',
'paragraph-font': 'Inter',
'base-font-size': 1em,
'social-font-size': 1.5rem,
'code-font-size': 0.85rem,
'table-font-size': 0.9rem,
'base-line-height': 1.4,
'code-line-height': 1.9824
);

$borders: (
'border-dark-grey': 1px solid #333,
'border-light-grey': 1px solid #ccc,
'blockquote-border-left': 1px solid #ccc,
'code-border': 1px solid #463e3e
);