/* Code */

@use 'variables' as vars;

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
    border: vars.$border-light-grey;
    background: vars.$background-code-color;
    font-family: vars.$code-font;
    font-size: vars.$code-font-size;
    line-height: vars.$code-line-height;
}

pre {
    padding: 0 1em;
    border: vars.$border-light-grey;
    border-radius: 0.3em;
    background: vars.$background-code-color;
    margin: 1rem 0;

    code {
        display: block;
        margin: 0;
        padding: 1.1em 0;
        border: 0 none;
        background: transparent;
        overflow-x: auto;
        line-height: vars.$base-line-height;
    }
}

