/* Footer */

@use 'variables' as vars;
@use 'mixins' as mix;

.footer {

    @include mix.fixed-padding-and-no-growth;
    @include mix.flex-container;
    border-top: 1px solid vars.$font-color;
    background-color: vars.$background-footer-color;
    color: vars.$font-color-footer;
    padding: 0.5rem 1rem;

    a {
        @include mix.font-no-underline(vars.$font-color-footer);
        padding: 0.5rem;
    }

    .social {
        font-size: vars.$social-font-size;
    }
}

