/* Header */

@use 'variables' as vars;
@use 'mixins' as mix;

.header {

    @include mix.fixed-padding-and-no-growth;
    @include mix.flex-container(space-between, normal);
    background-color: vars.$background-header-color;

    .title, .logo {
        padding: 1rem;
    }

    h1 {
        margin-top: 0;
    }

    a {
        @include mix.font-no-underline(vars.$font-color-header);
    }


    img {
        width: 100px;
    }
}

.site-header {
    @include mix.flex-container(space-between, center);
}

.logotitle {
    @include mix.flex-container();
}

