/* Table */

@use 'variables' as vars;

table {
    border-collapse: collapse;
    width: 100%;
    font-size: vars.$table-font-size;
    margin-bottom: vars.$base-margin-bottom;
}

th {
    background-color: vars.$table-header-color;
    text-align: left;
    padding: 0.5rem;
    font-family: vars.$label-font;
    font-weight: bold;
}


td {
    border: vars.$border-light-grey;
    padding: 0.5rem;
}


tr:nth-child(even) {
    background-color: vars.$table-alt-color;
}

