
/* Background colors */
$background-color: #fff;
$background-footer-color: #2C3A47; //rgb(214, 233, 250);
$background-header-color: #393232;
$background-code-color: #f5f5f5;

$border-dark-grey: 1px solid #333;
$border-light-grey: 1px solid #ccc;

/* Table colors */
$table-header-color: #c8d391;
$table-border-color: #e0e0e0;
$table-alt-color: #f9f9f9;


/* Distances */
$list-padding: 1.5em;
$base-margin-bottom: 1rem;

/* Fonts */
$label-font: 'Titillium Web', sans-serif;
$paragraph-font: 'Inter', sans-serif;
$code-font: monospace;
$base-font-size: 1em;
$social-font-size: 2rem;
$code-font-size: 0.85rem;
$table-font-size: 0.9rem;
$base-line-height: 1.4;
$code-line-height: 1.9824;



/* Font colors */
$font-color: #333;
$font-color-header: #fff;
$font-color-footer: #fff;
$main-link-color: #006400;
$hover-color: #AFBF63;
