/* Header */
/* $theme: 'light' !default; */
@use 'sass:map';
@use '../_settings/' as settings;
@use '../mixins/' as mix;

$font-color: map.get(settings.$colors, 'font-color-header');

.header {

    @include mix.fixed-padding-and-no-growth;
    @include mix.flex-container(space-between, normal);
    background-color: map.get(settings.$colors, 'background-header-color');

    .title, .logo {
        padding: 1rem;
    }

    h1 {
        margin-top: 0;
    }

    a {
        @include mix.font-no-underline($font-color);
    }

    img {
        width: 100px;
    }
}

.site-header {
    @include mix.flex-container(space-between, center);
}

.logotitle {
    @include mix.flex-container();
}

