/* report.scss */
$theme: 'light' !default;
@use 'sass:color';
@use 'sass:map';
@use '../_settings/' as settings;
@use '../mixins/' as mix;

$box-color: map.get(settings.$colors, 'report-box-color');
$link-color: map.get(settings.$colors, 'report-link-color');

.reports {
    @include mix.flex-center;
    background-color: $box-color;
    border-radius: 10px;
    border: map.get(settings.$borders, 'border-dark-grey');

    a {
        color: $link-color;
        text-decoration: none;
        letter-spacing: 0.3rem;
        padding: 0.5rem;
    }

    a:hover {
        background-color: color.scale($box-color, $lightness: -20%);
        color: $link-color;
    }
}

